.find-us-content {
    padding: 30px;
    width: 75%;
    min-width: 400px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.06);
}

#gismap {
    flex: auto;
    height: 500px;
    margin: 30px;
}